.header {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font: bold;
    z-index: 10;
    height: 39px;
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(146, 0, 0);
}

body::after {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    width: 120%;
    height: 140%;
    background-color: rgb(36, 36, 36);
    transform: rotate(-60deg);
    z-index: -1; /* Ensure the pseudo-element is behind other content */
}

/*.backgrdiv2{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 150%;
    background-color: rgb(109, 3, 3);
    transform: rotate(-60deg);
}*/

#container1 {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    width: 100%;
    margin: 3px;
    border: 1px solid black;
    border-radius: 16px;
    height: 50px;
    overflow: hidden;
    background-color: white;
}

.btn {
    position: relative;
    height: 40px;
    width: 60px;
    margin: 3px;
    border-radius: 13px;
    border: 1px solid black;
    overflow: hidden;
    transition: width 0.3s ease, height 0.3s ease;
    display: inline-block;
}

.btn span {
    position: relative;
    z-index: 3;
}

.btn:hover {
    color: white;
}


.wave {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: all .5s;
}

.first-wave {
    background: red;
    transform: rotate(-60deg) scale(0);
}

.second-wave {
    background: black;
    transform: rotate(-60deg) scale(0);
    z-index: 2;
}

.btn:hover .first-wave {
    transform: rotate(-60deg) scale(4);
}

.btn:hover .second-wave {
    transform: rotate(-60deg) scale(2);
}

.float-label-field {
    position: relative;
    border: none;
    outline: none;
}

.float-label-field input {
    width: 70px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: solid 1px #efefef;
    padding: 5px;
    box-sizing: border-box;
    transition: border-bottom-color 0.2s ease;
}

.float-label-field label {
    opacity: 0.5;
    position: absolute;
    top: 50%; /* Adjusted top position to center label vertically */
    left: 15px;
    transform: translateY(-50%); /* Center label vertically */
    transition: all 0.2s ease;
    font-size: 18px;
    pointer-events: none; /* Prevent label from receiving pointer events */
}

.float-label-field input:focus + label,
.float-label-field input:not(:placeholder-shown) + label,
.float-label-field.input-focused label {
    top: 5px;
    font-size: 10px;
    opacity: 1;
    color: red;
}

.float-label-field input:focus {
    border-bottom-color: red;
}

#container {
    position: relative;
}
 
canvas{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    border-radius: 13px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    z-index: 2;
}